/* Label output */
.layout { 
   display: none!important; 
}

.customize-control-layout {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.layout-switcher__wrapper {
    overflow-y: hidden;
    max-height: 0;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-timing-function: ease-in-out;
}

.layout-switcher__wrapper.open {
    max-height: 1000px; /* approximate max height */
}

.button.layout-switcher {
    position: absolute;
    right: 0;
    top: -38px;
}

.layout-switcher:focus,
.layout-switcher:active {
    outline: none;
    border-color: #ccc !important;
    box-shadow: 0px 0px 0px #000 !important;
}

.customize-control-layout .customize-control-description {
    display: none;
}

.customize-control-layout label {
	background: #fff;
    cursor: pointer;
    display: block;
    margin: 0 0 5px;
    border: 1px solid transparent;
    -webkit-transition: border-color 0.2s, background-color 0.2s;
    transition: border-color 0.2s, background-color 0.2s, padding 1s;
}

@media screen and (min-width: 1800px) {
	.customize-control-layout label {
		padding: 0 10%
	}
}

@media screen and (min-width: 2500px) {
	.customize-control-layout label {
		padding: 0 15%
	}
}

.customize-control-layout label:first-of-type {
    margin-top: 0;
}

.customize-control-layout label:hover {
    border-color: #555;
}

.customize-control-layout label:hover .layout-screenshot {
    
}

.customize-control-layout label:last-of-type {
    margin-bottom: 30px;
}

.intrinsic {
    line-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

.intrinsic:after {
    content: "";
    display: block;
    padding-top:  37.367%;
}

.layout-screenshot {
    background-color: rgba(255, 255, 255, 0.7);
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-size: contain;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.layout:checked + label .layout-screenshot {
    background-color: #fff;
}

.layout:checked + label,
.customize-control-layout label:focus {
    border-color: #0085ba;
}

.layout:checked + label:hover .layout-screenshot img {
    opacity: 1;
}
.layout:checked + label .more-details .preview {
   opacity: 0;
}
.layout:checked + label .more-details .active {
   opacity: 1;
}