.site-header .sub-menu {
    background: #fff;
    border-radius: 0px;
    display: none;
    line-height: 1;
    margin: 0 0 0 -20px !important;
    min-width: 9em;
    overflow: auto;
    padding: 15px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
    width: 100%;
    transition: transform 0s .2s linear;
    transform: translate3d(0, 10px, 0);
	
    li {
        display: block;
        margin: 0;

        &:last-child {
            border-bottom: 0;
        }
    }

    a {
        color: $black !important;
        display: block;
        height: inherit;
        opacity: .5;
        padding: 6px 20px;
        line-height: 10px !important;
        position: relative;
        text-decoration: none;
        text-transform: normal;
        transition: opacity 200ms cubic-bezier(0.33,0,0.2,1);
        width: 100%;
        zoom: 1;

        &:hover {
            opacity: 1;
        }
    }
}

.site-header .sfHover .sub-menu {
	transform: translate3d(0, 0, 0);
}


.site-header .menu-item-has-children .icon {
    top: -1px;
    height: 1em;
    width: 1em;
    margin-left: 2px;
    transform-origin: 50% 50%;
    transition: transform 300ms cubic-bezier(0.33,0,0.2,1), top 100ms cubic-bezier(0.33,0,0.2,1), opacity 200ms cubic-bezier(0.33,0,0.2,1);  
}

.site-header .menu-item-has-children.sfHover .icon {
    top: -2px;
    transform: rotate(-180deg);
}


.site-header .menu-item-has-children {
    &.sfHover > a {
       opacity: 1 !important;
    }
}