#customize-control-custom_logo_max_width {
	margin-bottom: 12px;
}

#customize-control-custom_logo_mobile_max_width {
	margin-bottom: 12px;
}

#customize-control-custom_logo_max_width + #customize-control-custom_logo_mobile_max_width {
	margin-top: -5px;
}

#customize-control-custom_logo_max_width .customize-control-title,
#customize-control-custom_logo_mobile_max_width .customize-control-title {
	font-weight: 600;
}

.customize-control-custom-range {
  position: relative;
  padding: 0;
  margin: 5px 0;
}

.customize-control-custom-range:hover label {
  opacity: 0;
}

.customize-control-custom-range:hover .track,
.customize-control-custom-range:hover .range-reset {
  opacity: 1;
}

.customize-control-custom-range .customize-control-title {
	font-weight: normal;
}

.customize-control-custom-range label {
  display: block;
   transform: translate3d(0, 0, 0);
  margin-right: 55px;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 200ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: opacity 200ms cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.customize-control-custom-range span {
  margin: 0;
}

.customize-control-custom-range .track {
  background: #b4b9be;
  left: 23px;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  right: 65px;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: opacity 200ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: opacity 200ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  width: 72%;
}

.customize-control-custom-range .value {
  font-size: 14px;
  position: absolute;
right: 3px;
  text-align: right;
  top: -3px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 65px;
}

.customize-control-custom-range .value input[type=number] {
  background: none;
  border: none;
  box-shadow: 0 0 0;
  color: #555d66;
  display: inline-block;
  line-height: 14px;
  padding: 2px 0;
  position: relative;
  text-align: right;
  width: 25px;
  height: 28px;
  font-size: 14px;
}

.customize-control-custom-range[id*="max_width"] .value input[type=number] {
	width: 35px;
}

.customize-control-custom-range[id*="max_width"] .track {
	width: 64%;
}

.customize-control-custom-range .value input[type=number]::-webkit-inner-spin-button, .customize-control-custom-range .value input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.customize-control-custom-range .value input[type=number]:hover {
  color: #0073aa;
}

.customize-control-custom-range .value span {
  display: none;
}

.customize-control-custom-range .value em {
  cursor: default;
  display: inline-block;
  font-style: normal;
}

.customize-control-custom-range .range-reset {
  cursor: pointer;
  height: 19px;
  left: -4px;
  opacity: 0;
  position: absolute;
  top: 3px;
  -webkit-transition: opacity 200ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: opacity 200ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  width: 19px;
}

.customize-control-custom-range .range-reset::after {
  content: "\f531";
  cursor: pointer;
  font: 100 13px/1 dashicons;
  left: 1px;
  position: relative;
  top: 1px;
  z-index: 999;
}

.customize-control-custom-range input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 0;
  padding: 0;
}

.customize-control-custom-range input[type=range]:focus {
  outline: none;
}

.customize-control-custom-range input[type=range]::-webkit-slider-runnable-track {
  animate: 0.2s;
  background: #b4b9be;
  border-radius: 1px;
  border: 0 solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.customize-control-custom-range input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b4b9be;
}

.customize-control-custom-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #b4b9be;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 19px;
  margin-top: -9px;
  width: 19px;
}

.customize-control-custom-range input[type=range]::-moz-range-thumb {
  background: #fff;
  border-radius: 50px;
  border: 1px solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 19px;
  width: 19px;
}

.customize-control-custom-range input[type=range]::-moz-range-track {
  animate: 0.2s;
  background: #b4b9be;
  border-radius: 1px;
  border: 0 solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.customize-control-custom-range input[type=range]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.customize-control-custom-range input[type=range]::-ms-fill-lower {
  background: #b4b9be;
  border-radius: 2px;
  border: 0 solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
}

.customize-control-custom-range input[type=range]::-ms-fill-upper {
  background: #b4b9be;
  border-radius: 2px;
  border: 0 solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
}

.customize-control-custom-range input[type=range]::-ms-thumb {
  background: #fff;
  border-radius: 50px;
  border: 1px solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 17px;
  width: 17px;
}

.customize-control-custom-range input[type=range]:focus::-ms-fill-lower {
  background: #b4b9be;
}

.customize-control-custom-range input[type=range]:focus::-ms-fill-upper {
  background: #b4b9be;
}