// .portfolio-professional__likes--ava {

// 	// &.portfolio-professional__likes {
// 	// 	margin-left: 20px;

// 	// 	@media only screen and (max-width: 640px) {
// 	// 		margin-left: -4px;
// 	// 		margin-top: 10px;
// 	// 	}
// 	// }

// 	.portfolio-professional__likes-heart svg {
// 		// stroke: #444;
// 	}

// 	.portfolio-professional__likes-count {
// 		// color: #b2b5bc;
// 		// position: relative;
// 		// top: -2px;
// 		// padding-left: 1.7em;
// 	}
// }
