.project {
    overflow: hidden;

    .entry-title {
        // font-size: 19px;
        // font-family: $font__main;
    }

    .project__tags {
        opacity: .65;
        font-size: 13px;
        font-weight: normal;
        font-family: $font__main;
        color: #fff;

        & span + span {
            margin-left: 10px;
        }
    }

    .project__link {
        z-index: 999;
    }

figcaption {
	display: none;
}

}

.project__hover {

    //--------------------------------------------------------------
    // Scaling Hover Transition
    //--------------------------------------------------------------

    &--opacity {

        &:hover .project__overlay {
            opacity: 1;
        }

        .project__overlay {
            backface-visibility: hidden;
            background: rgba(0,0,0,.80);
            bottom: 0;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            transition: opacity 500ms cubic-bezier(0.75,0,0.25,1);
            width: 100%;
            z-index: 2;

            &::before {
                display: inline-block;
                height: 100%;
                margin-right: -.25em;
                content: '';
                vertical-align: middle;
            }

            & div {
                display: inline-block;
                max-width: 90%;
                margin: 0;
                vertical-align: middle;
            }
        }

        .entry-title {
            display: inline-block;
            color: #fff;
            margin: 0;
            -webkit-transform: translate3d(0, 0, 0);
        }

        .project__thumb {
            backface-visibility: hidden;
        }
    }


    //--------------------------------------------------------------
    // Scaling Hover Transition
    //--------------------------------------------------------------

    &--pressed {

        .project__thumb {
            backface-visibility: hidden;
            transition: transform 1s cubic-bezier(0, 0.71, 0.41, 1);
        }

        &:hover .project__link,
        &:hover .project__thumb {
            transform: scale(.95);
        }
    }

    //--------------------------------------------------------------
    // Scaling Hover Transition
    //--------------------------------------------------------------

    &--scaled {

        .project__overlay {
            backface-visibility: hidden;
            background: rgba(0,0,0,.80);
            bottom: 0;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            transform: scale(1.2);
            transition: opacity 300ms cubic-bezier(0.75,0,0.25,1), transform 400ms cubic-bezier(0.75,0,0.25,1);
            width: 100%;
            z-index: 2;

            &::before {
                display: inline-block;
                height: 100%;
                margin-right: -.25em;
                content: '';
                vertical-align: middle;
            }

            & div {
                display: inline-block;
                max-width: 90%;
                margin: 0;
                vertical-align: middle;
            }
        }

        .entry-title {
            display: inline-block;
            color: #fff;
            margin: 0;
            -webkit-transform: translate3d(0, 0, 0);
        }

        .project__thumb {
            backface-visibility: hidden;
            transition: transform 400ms cubic-bezier(0.75,0,0.25,1);
        }

        @media only screen and (min-width: 600px) {
            &:hover .project__overlay {
                opacity: 1;
                transform: scale(1);
                will-change: opacity, transform;
            }

            &:hover .project__thumb {
                transform: scale(1.1);
                will-change: transform;
            }
        }
    }
}

.archive .portfolio {
    padding: 0;
}

/*--------------------------------------------------------------
# Carson
--------------------------------------------------------------*/
@import "carson";

/*--------------------------------------------------------------
# Ethan
--------------------------------------------------------------*/
@import "ethan";

/*--------------------------------------------------------------
# Gavin
--------------------------------------------------------------*/
@import "gavin";

/*--------------------------------------------------------------
# Mia
--------------------------------------------------------------*/
@import "mia";

/*--------------------------------------------------------------
# Jackson
--------------------------------------------------------------*/
@import "jackson";

/*--------------------------------------------------------------
# Mia
--------------------------------------------------------------*/
@import "liam";

/*--------------------------------------------------------------
# Portfolio Professional
--------------------------------------------------------------*/
@import "portfolio-professional";
