.product-details__bottom .variation {
    margin: -8px 0 3px 0;
    display: block;
    line-height: 1;

    .variation-Size {
        margin: 0;
        font-size: 10px;
        opacity: .5;
        display: inline-block;

        p {
            margin-bottom: 0;
        }
    }

    dt {
        display: none !important;
    }
}


.entry-summary .variations {

    &, td {
        border: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    td {
        display: block;
        position: relative;
    }

    .reset_variations {
        position: absolute;
        right: 0;
        top: 0;
        display: none !important;
    }

    select {
        background-color: #fbfbfb;
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 2px;
        position: relative;
        padding: 7px 45px 5px 15px;
        cursor: pointer;
        appearance: none;
        font-family: $font__mono;
        font-size: 13px;
        margin: 0;
        outline: none;
        background: url("assets/images/select.svg") no-repeat 97% 11px #fbfbfb;
        background-size: 17px 17px;
        transition: all 200ms cubic-bezier(0.33,0,0.2,1); 

        &:hover,
        &:focus {
            border-color: rgba(0, 0, 0, 0.2);
        }
    }

    .woocommerce-variation-price {
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-family: $font__mono;
        margin: 25px 0 30px;
        display: block;
        -webkit-font-smoothing: antialiased;
    }
}

.woocommerce-variation-availability {
    display: none;
}


.single_variation_wrap {
    margin-top: 10px;
}

.single_variation_wrap .single_variation {
    margin-bottom: 15px;
    display: block;

    .amount {
        margin-left: -5px;
    }
}

.entry-summary {
    
    .variations label,
    .quantity__title {
        display: block;
        margin-bottom: 5px;
        font-size: 11px;
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
}

.cart_item {

    .variation {
        margin-top: 0;
    }

    .variation-Size {
        display: inline-block;
        margin: 0;
        font-size: 13px;
        line-height: 1.4;
        opacity: .5;
		font-weight: normal;
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }
    }
}