.dk-selected {
    border-radius: 2px;
    overflow: hidden;
    padding: 6px 25px 7px 6px;
    position: relative;
    text-overflow: ellipsis;
    transition: opacity 200ms cubic-bezier(0.33,0,0.2,1); 
    white-space: nowrap;
    width: 100%;

    &:hover:after {
        border-bottom: 1px solid;
        border-right: 1px solid;
    }


    &:hover, &:focus {
        outline: none;
    }

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
    }

    &:after {
        border-bottom: 1px solid;
        border-right: 1px solid;
        content: " ";
        display: block;
        height: 8px;
        position: absolute;
        right: 5px;
        top: 9px;
        transform: rotate(45deg);
        transition: transform 200ms cubic-bezier(0.33,0,0.2,1), border-color 200ms cubic-bezier(0.33,0,0.2,1), top 200ms cubic-bezier(0.33,0,0.2,1); 
        width: 8px;
        z-index: 99;
    }
}

&.dk-select-open-down .dk-selected:after {
    top: 12px;
    transform: rotate(-135deg);
}

.orderby.dk-select {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3em;
    width: auto;
    cursor: pointer;

    @media only screen and (min-width: 769px) {
        position: relative;
    }

    @media only screen and (max-width: 768px) {
        position: absolute;
        z-index: 99999999;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .dk-selected {
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
}

.orderby .dk-select-options {
    backface-visibility: hidden;
    backdrop-filter: saturate(180%) blur(20px);
    left: 0;
    line-height: 1;
    list-style: none;
    margin: 0;
    max-height: 400px;
    min-width: 200px;
    opacity: 0;
    padding: 0 32px 15px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    transform: translate3d(0, -150px, 0);
    transition: transform .9s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.3s, visibility 0s linear 1s, top 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s, background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
    visibility: hidden;
    width: auto;
    z-index: -1;

    @media only screen and (min-width: 769px) {
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,.15),0 0 1px rgba(0,0,0,.2);
        left: inherit;
        padding: 4px 25px 7px;
        transform: translateY(10px);
        transition: top 200ms, transform 200ms, opacity 100ms ease-in-out, visibility 0ms 200ms linear;    
        z-index: 100;
    }

    &:after {
        @media only screen and (min-width: 769px) {
            background: #fff;
            box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
            content: '';
            display: block;
            height: 14px;
            position: absolute;
            right: 27px;
            top: -14px;
            transform: rotate(45deg) translate(6px,6px);
            width: 14px;
        }
    }

    .dk-option {
        backface-visibility: hidden;
        border-top: 1px solid $color__border-bottom;
        display: block;
        font-size: 17px;
        line-height: 30px;
        opacity: 0;
        padding: 9px 0;
        transform: translate3d(0, -25px, 0);
        transition: 0.5s ease;
        transition-property: transform, opacity;
        

        @media only screen and (min-width: 769px) {
            font-size: 14px;
            line-height: 18px;
            transform: translate3d(0, -15px, 0);
        }

        &:first-child {
            border-top: none;
        }
    }
}

.orderby.dk-select-open-down .dk-select-options {
    background-color: #fff;
    opacity: 1;
    pointer-events: inherit;
    top: 99%;
    transform: translate3d(0, 0, 0);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.4s, visibility 0s linear 1s, opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.3s, background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
    transition-delay: 0.2s, 0.4s;
    visibility: visible;

    @media only screen and (min-width: 769px) {
        top: 39px;
        transition-delay: 0s;
    }

    .dk-option { 
        opacity: 1;
        transform: translate3d(0, 0, 0);
        @for $i from 1 through 15 {
            &:nth-of-type(#{$i}) {
                transition-delay: #{$i * 0.15}s;
            }
        }
    }
}

select[data-dkcacheid] {
    display: none;
}